.news {
  background: url(../images/bg-news.jpg) center center no-repeat;
  background-size: cover;
  padding: 180px 0 140px;

  &__wrap {
    position: relative;
  }

  &__main-title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 95px;
    position: relative;

    &::before {
      background-color: #fff;
    }
  }

  &__post {
    max-width: 370px;
    height: 620px;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    transition: all 0.3s;
    overflow: hidden;
    background-color: #fff;
  }

  &__link {
    min-height: 240px;
    display: block;
    position: relative;

    &::before {
      @include size(100%);

      position: absolute;
      content: "";

      background: url(../images/plus.png) center center no-repeat;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
    }

    &:hover.news__link {
      &::before {
        opacity: 1;
      }
    }
  }

  &__img {
    min-width: 100%;
    height: 100%;
  }

  &__body {
    height: 380px;
    background-color: #fff;
    padding: 30px 30px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
  }

  &__title {
    color: var(--darkblue);
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__text {
    font-family: $font-os;
    font-size: 18px;
    line-height: 30px;
    color: var(--blue);
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
  }

  &__author {
    text-decoration: none;
    overflow: hidden;
  }

  &__author-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__info-wrap {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__author-name {
    color: var(--darkblue);
    text-transform: uppercase;
  }

  &__date {
    font-size: 14px;
    color: #55b7ff;
  }
}
